@import "./constants.css";
header {
  background-color: var(--background-color);
  color: var(--main-color);
  overflow: auto;
  margin-top: var(--default-distance-medium);
}

.card {
  border: none;
  background-color: var(--background-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.round {
  border-radius: 50%;
}

div.main-container {
  width: 1200;
}

h2.job-title {
  color: var(--highlight-color);
}

footer.py-5 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.row {
  display: inline;
}

hr.styled-hr {
  background-color: var(--highlight-color);
  width: 100%;
  margin-top: var(--default-distance-medium);
  margin-bottom: var(--default-distance-medium);
}

/* Link Buttons */

.button {
  text-decoration: none;
  color: var(--main-color);
  display: inline-block;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  border-color: var(--highlight-color);
  border-style: solid;
  border-radius: 0;
  border-width: 1px;
  transition: 0.3s;
}

a.button:hover {
  text-decoration: none;
  background-color: var(--highlight-color);
  color: var(--background-color);
}

a.button {
  text-align: center;
}

.link-button {
  flex-grow: 1;
  margin: 0;
}

/*   Header   */

div#about-me {
  float: left;
}

img#avatar {
  margin-right: 1.5rem;
  border: var(--highlight-color) solid 2px;
  background-color: var(--highlight-color);
}

.resume-link {
  float: right;
  margin-right: 0;
}

a.media-link {
  text-decoration: none !important;
  margin-right: var(--default-distance-small);
  float: left;
}

div#media-links {
  float: left;
  width: 100%;
}

img.media-icon {
  width: 32px;
  text-decoration: none !important;
  padding-top: 1.5px;
}

.desc-about {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.data-limit-error {
  padding-top: 1rem;
  font-weight: 600;
  font-size: medium;
  color: var(--error-color)
}

/* center about me section */

@media all and (max-width: 768px) {
  img#avatar {
    margin-right: 0;
  }
  header {
    text-align: center;
  }
  a.media-link {
    float: none;
  }
}

/* avatar goes left */

@media all and (min-width: 768px) {
  img#avatar {
    float: left;
  }
}
