# Add www to any URLs that do not have them:
#RewriteEngine on
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.tom.ille-web\.de$ [NC]
RewriteRule ^(.*)$ http://tom.ille-web.de/$1 [L,R=301]